

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

h4 {
    font-weight: 400;
}

.bg-primary {
    background: #238AE9 !important;
}

.primary {
    color: #238AE9;
}

.hero .col{
    background-image: url("../images/paperwork.png");
    display: block;
    height: auto;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: border-box;
}



.expertise .col .img-container{
    background: #238AE9;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    padding: 55px 0;
    margin: auto;
}


.btn-container {
    cursor: pointer;
    position:absolute;
    left:50%;
    top:50%;
    max-width: 20%;
    transform: translate(-50%, -50%);
}

.video-container {
    position: relative;
    display: inline;
}

.g-recaptcha, .form-control {
    background: #343A40 !important; 
}

.form-control , form .btn{
    border-radius: 0px !important;
}

.footer {
    background: #191b1e;
}

#map {
    height: 275px;
    margin-bottom: 20px;
}

.sub-footer, .form-control {
    font-size: 0.7rem !important;
}

.sub-footer .form-check-label, .sub-footer .form-check-label a {
    font-size: 0.8rem;
}

.btn {
    font-size: 0.6rem;
}


.footer a{
    font-size: 0.8rem !important;
}

.nav-link {
    font-size: 80%;
}



@media (min-width: 576px) { 
    html {
        font-size: 1.2rem;
      }
      .hero p {
        font-size: 1rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
      
 }


@media (min-width: 768px) { 
    html {
    font-size: 1.4rem;
  } 
  .hero p {
    font-size: 1.5rem;
}

.sub-hero p{
    font-size: 1rem;
}

}


@media (min-width: 992px) { 
    html {
    font-size: 1.6rem;
  } 
  .nav-link {
    font-size: 45%;
    }

    .footer a{
        font-size: 0.5rem !important;
    }

    .sub-footer .form-check-label, .sub-footer .form-check-label a {
        font-size: 0.6rem;
    }
}


@media (min-width: 1200px) { 
    .nav-link {
        font-size: 60%;
    }
    .hero p {
        font-size: 2.2rem;
    }

    .sub-hero p{
        font-size: 1.2rem;
    }
 }

