* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.bg-primary {
    background: #238AE9 !important;
}

.primary {
    color: #238AE9;
}

.hero .col{
    background-image: url("../images/paperwork.png");
    display: block;
    height: 200px;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: border-box;
}

.hero p {
    font-size: 1rem;
}

.sub-hero .lead {
    font-weight: 300;
    font-size: 1rem;
}

.expertise .col .img-container{
    background: #238AE9;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    padding: 55px 0;
    margin: auto;
}

.btn-container {
    cursor: pointer;
    position:absolute;
    left:50%;
    top:50%;
    max-width: 20%;
    transform: translate(-50%, -50%);
}

.video-container {
    position: relative;
    display: inline;
}

.form-control , form .btn{
    border-radius: 0px !important;
}

.form-control {
    background: #343A40 !important; 
    color: white !important;
    font-weight: 300;
}

.invalid {
    color: #dc3545;
    font-size: 80%;
}


.footer {
    background: #191b1e;
}

.footer a, form a {
    font-size: 0.8rem;
}

#map {
    height: 275px;
    margin-bottom: 20px;
}

.g-recaptcha {transform: scale(0.8); transform-origin: left top;}

/* Bootstrap SM */
@media (min-width: 576px) { 
    .hero p {
        font-size: 1.5rem;
    }
      
 }

/* Bootstrap MD */
@media (min-width: 768px) { 
    

}

/* Bootstrap LG */
@media (min-width: 992px) { 

    .hero p {
        font-size: 3rem;
    }

    .sub-hero .lead {
        font-size: 1.8rem;
    }

    .hero .col{
        height: 400px;
    }

    .nav-link {
        font-size: 80%;
    }
    
}

/* Bootstrap XL */
@media (min-width: 1200px) { 
    .g-recaptcha {
        transform: scale(70%); 
        transform-origin: left top;
    }

    .nav-link {
        font-size: 100%;
    }

    .hero p {
        font-size: 3.5rem;
    }
    
    .sub-hero .lead {
        font-size: 2rem;
    }
 }